:root {
    /* CSS HEX */
    --pink-lavender: #cdb4db;
    --baby-pink: #f5cac3;
    --light-coral: #f28482;
    --maximum-yellow-red: #f6bd60;
    --morning-blue: #84a59d;
    --tea-green: #caffbf;
}

.btn {
    background-color: var(--pink-lavender);
    font-family: 'Balsamiq Sans', sans-serif;
}

nav{
    background-color: var(--pink-lavender);
}

nav a{
    font-family: 'Balsamiq Sans', sans-serif;
    color: black;
}

h1 {
    font-family: 'Balsamiq Sans', sans-serif;
    padding: 2%;
}

h3 {
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
}

p {
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
}

.join_p {
    font-family: 'Balsamiq Sans', sans-serif;
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.about_col p{
    padding: 2%;
}

label {
    font-family: 'Balsamiq Sans', sans-serif;
}

ol {
    font-family: 'Balsamiq Sans', sans-serif;
}

#akog_info img{
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_about {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_program {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_general {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_join {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_login {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_mentor {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.akog_logo_mentee {
    margin-top: 2%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.odd_img {
    justify-content: left;
}

.even_img {
    justify-content: right;
}

#footer{
    margin-top: 3%;
    font-family: 'Balsamiq Sans', sans-serif;
    background-color: var(--pink-lavender);
    padding: 2%;
}

html{
    background-color: var(--baby-pink);
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited{
    background-color: var(--maximum-yellow-red) !important;
    color: black;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited{
    background-color: var(--light-coral) !important;
    color: black !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited{
    background-color: var(--tea-green) !important;
    color: black !important;
}